@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);
}

body{
  background-color: var(--Light_gray);
  font-family: 'Outfit', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.qr_img{
  width: 100%;
  border-radius: 15px;
}

.title{
  color: var(--Dark_blue);
  padding: 20px 0;
  font-weight: 700;
}

.text{
  color: var(--Grayish_blue);
  font-size: 15px;
  font-weight: 400;
}